[Unit]
Description=Wacht ueber die Tunnel zu den Freifunk-Domains
Documentation=https://github.com/Neanderfunk/mapserver/blob/main/tunnel/waechter.sh

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/karte-en-waechter
